.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-description-container {
  height: 100px;
  width: 80vw;
  background-color: #61dafb;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 16px;
}

.shows-container {
  width: 80%;
}
* {
  font-family: "Montserrat", sans-serif !important;
}
